﻿@using System.Net.Http
@inject HttpClient httpClient
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime
@page "/candidati/add"

<h1 class="header">Depunere CV</h1>

<EditForm Model="@candidatiModel" class="container">
    <h3><b>Adauga candidat:</b> </h3>
    Nume:<br />
    <input @bind="Nume" size="25" /> <br />
    Prenume:<br />
    <input @bind="Prenume" size="25" /><br />
    Data nasterii:<br />
    <input @bind="dataNastere" size="25" /> <br />
    Cnp:       <br />
    <input @bind="CNP" size="25" /> <br />
    Numar de telefon: <br />
    <input @bind="telefon" size="25" /><br />
    Email:      <br />
    <input @bind="email" size="25" /> <br />
    <button id="1" @onclick="PostCandidates">Submit</button> <br />
    <br/>
    <h3><b>Sterge candidat:</b></h3>
    Id candidat:<br />  
    <input @bind="id" size="25"  /><br />
    <button id="2" @onclick="Delete">Delete</button>
    <button id="3" @onclick="Put">Update</button>
</EditForm>

    <style>
        .header {
            text-align: center;
            font-size: 35px;
            border: medium;
            font-style: oblique;
        }

        .container input {
            width: 20%;
            margin: 4px 7px 2px 15px;
        }
    </style>
@code {
    private string Nume { get; set; }
    private string Prenume { get; set; }
    private string dataNastere { get; set; }
    private string CNP { get; set; }
    private string telefon { get; set; }
    private string email { get; set; }
    private CandidateModel candidatiModel = new CandidateModel();
    private Guid id { get; set; }

    public async Task Put()
    {
        Fill();
        if (id == null)
            throw new Exception("Va rugam introduceti un id");
        var temp = await httpClient.PutAsJsonAsync("/api/Candidates/" + id, candidatiModel);
    }

    public async Task Delete()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the client ?"))
            return;

        var temp = await httpClient.DeleteAsync("api/candidates/" + id);
        var response = await temp.Content.ReadAsStringAsync();
    }

    public async Task PostCandidates()
    {
        Fill();
        var temp = await httpClient.PostAsJsonAsync<CandidateModel>("api/Candidates", candidatiModel);
        var response = await temp.Content.ReadAsStringAsync();

        //interviewModels = await Http.GetFromJsonAsync<InterviewModel[]>("Candidates");
        Console.WriteLine(response);
    }

    public void Fill()
    {
        candidatiModel.InterviewId = "5fcbf4d7-3261-40e0-a60c-08d8b3d3009b";
        candidatiModel.Name = Nume;
        candidatiModel.Surname = Prenume;
        candidatiModel.BirthDay = dataNastere;
        candidatiModel.CNP = CNP;
        candidatiModel.PhoneNumber = telefon;
        candidatiModel.Email = email;
    }

    public class CandidateModel
    {
        public string InterviewId { get; set; }

        public string Name { get; set; }

        public string Surname { get; set; }

        public string BirthDay { get; set; }

        public string CNP { get; set; }

        public string PhoneNumber { get; set; }

        public string Email { get; set; }
    }
}