﻿@using System.Net.Http
@inject HttpClient httpClient
@using Newtonsoft.Json

@page "/candidati"



<h3 class="header">Candidati</h3>
<label for="interviews">Choose an interview:</label>

<select name="interviews" id="interview">
    <option value="Tester">Automation testing</option>
    <option value="BE">Backend developer</option>
    <option value="FE">Frontend developer</option>
</select>
<br />
<button id="1" @onclick="GetCandidates">Load data</button>

<style>
    .header {
        text-align: center;
        font-size: 35px;
        border: medium;
        font-style: oblique;
    }
</style>

@if (candidates == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>BirthDay</th>
                <th>CNP</th>
                <th>PhoneNumber</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidate in candidates)
            {
                <tr>
                    <td>@candidate.Name</td>
                    <td>@candidate.Surname</td>
                    <td>@candidate.BirthDay</td>
                    <td>@candidate.CNP</td>
                    <td>@candidate.PhoneNumber</td>
                    <td>@candidate.Email</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private string CurrentTester { get; set; }
    private string CurrentBe { get; set; }
    private string CurrentFe { get; set; }
    private List<CandidateModel> candidates;
    private CandidateModel candidatiModel = new CandidateModel();

    public async Task GetCandidates()
    {
        string interviewID = "5fcbf4d7-3261-40e0-a60c-08d8b3d3009b";
        candidates = (await httpClient.GetFromJsonAsync<ApiResponseModel<List<CandidateModel>>>("api/interviews/id/candidates?id=" + interviewID)).Result;
    }
    public class ApiResponseModel<T>
    {
        public int Code { get; set; }
        public T Result { get; set; }
    }
     
    public class CandidateModel
    {
        public string InterviewId { get; set; }

        public string Name { get; set; }

        public string Surname { get; set; }

        public string BirthDay { get; set; }

        public string CNP { get; set; }

        public string PhoneNumber { get; set; }

        public string Email { get; set; }
    }
}
