@page "/fetchdata"
@using System.Net.Http
@inject HttpClient httpClient
@using Newtonsoft.Json

<h1>Depunere CV</h1>


<EditForm Model="@candidatiModel">
    Nume: <input @bind="Nume" /> <br />
    Prenume: <input @bind="Prenume" /><br />
    Data nasterii: <input @bind="dataNastere" />
    Cnp: <input @bind="CNP" /> <br />
    Numar de telefon: <input @bind="telefon" /><br />
    Email: <input @bind="email" />
    <button id="1" @onclick="PostCandidates">Submit</button>
</EditForm>

@code {
    private string Nume { get; set; }
    private string Prenume { get; set; }
    private string dataNastere { get; set; }
    private string CNP { get; set; }
    private string telefon { get; set; }
    private string email { get; set; }
    private CandidateModel candidatiModel = new CandidateModel();
    public async Task PostCandidates()
    {
        candidatiModel.InterviewId = "5fcbf4d7-3261-40e0-a60c-08d8b3d3009b";
        candidatiModel.Name = Nume;
        candidatiModel.Surname = Prenume;
        candidatiModel.BirthDay = dataNastere;
        candidatiModel.CNP = CNP;
        candidatiModel.PhoneNumber = telefon;
        candidatiModel.Email = email;
        var temp = await httpClient.PostAsJsonAsync<CandidateModel>("api/Candidates", candidatiModel);
        var response = await temp.Content.ReadAsStringAsync();

        //interviewModels = await Http.GetFromJsonAsync<InterviewModel[]>("Candidates");
        Console.WriteLine(response);
    }

    public class CandidateModel
    {
        public string InterviewId { get; set; }

        public string Name { get; set; }

        public string Surname { get; set; }

        public string BirthDay { get; set; }

        public string CNP { get; set; }

        public string PhoneNumber { get; set; }

        public string Email { get; set; }
    }
}
