﻿@page "/"
    <h1 class="header">Front-end dezvoltarea aplicatiilor multistrat.</h1>
    <br/>
    <br/>
    <h2><b>Membrii echipei: </b></h2>
    <h3 class="h3">Virvaroi Andrei Sebastian</h3>
    <h3 class="h3">Topliceanu Vlad-Vasile</h3>
    <h3 class="h3">Segall Dan</h3>

    <style>
        .header {
            text-align: center;
            font-size: 35px;
            border: medium;
            font-style: oblique;
        }
        .h3 {
            margin: 4px 7px 2px 35px;
        }
    </style>


