﻿@using System.Net.Http
@inject HttpClient Http
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime
@page "/counter"

<h1 class="header">Interviews</h1>
<h3><b>Adauga un interview:</b></h3>
<EditForm Model="@interviewModel" class="container">
    Titlul interview-ului: <br />
    <input @bind="currentTitle" size="25" /> <br />
    Departament: <br />
    <input @bind="currentDepartment" size="25" /><br />
    Numar de pozitii disponibile: <br />
    <input @bind="currentPositions" size="25" /> <br />
    <button id="1" @onclick="PostInterview">Submit</button> <br />
    <b>Sterge un interview:</b> <br />
    Id-ul interview-ului: <br />
    <input @bind="idInterview" size="25"/> <br />
    <button id="2" @onclick="Delete">Delete</button>

</EditForm>
<style>
    .container input {
        width: 20%;
        margin: 4px 7px 2px 0px;
        clear:both;
        text-align:left;
    }

     .header{
        text-align: center;
        font-size: 35px;
        border: medium;
        font-style: oblique;
    }
</style>
@code {
    string currentDepartment { get; set; }
    string currentTitle { get; set; }
    int currentPositions { get; set; }
    private static InterviewModel interviewModel = new InterviewModel();
    InterviewModel[] interviewModels;
    private Guid idInterview { get; set; }

    public async Task Put()
    {
        Fill();
        if (idInterview == null)
            throw new Exception("Va rugam introduceti un id");
        var temp = await Http.PutAsJsonAsync("/api/Interviews/" + idInterview, interviewModel);
    }

    public async Task Delete()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete this interview?"))
            return;
        var temp = await Http.DeleteAsync("api/candidates/" + idInterview);
        var response = await temp.Content.ReadAsStringAsync();
    }

    public async Task PostInterview()
    {

        Fill();
        var temp = await Http.PostAsJsonAsync<InterviewModel>("api/Interviews", interviewModel);
        var response = await temp.Content.ReadAsStringAsync();

        //interviewModels = await Http.GetFromJsonAsync<InterviewModel[]>("Candidates");
        Console.WriteLine(response);
    }
    public void Fill()
    {
        interviewModel.Title = currentTitle;
        interviewModel.Department = currentDepartment;
        interviewModel.NumberOfPositions = currentPositions;
    }

    public class InterviewModel
    {
        public string Title { get; set; }

        public string Department { get; set; }

        public int NumberOfPositions { get; set; }
    }
}
