﻿@using System.Net.Http
@inject HttpClient httpClient
@using Newtonsoft.Json
@page "/questions"

<h3 class="header">Question</h3>
<EditForm Model="@questionModel" class ="container">
    <label>Alege o categorie:</label>
    <select name="question" id="question">
        <option value="Testing">Automation testing</option>
        <option value="BE">Backend developer</option>
        <option value="FE">Frontend developer</option>
    </select> <br/>
    Intrebare: <br/>
    <input @bind="intrebare" /> <br />
    <button id="1" @onclick="PostQuestion">Submit</button>
</EditForm>
<style>
    .container input {
        width: 20%;
        margin: 4px 7px 2px 0px;
    }
    .header {
        text-align: center;
        font-size: 35px;
        border: medium;
        font-style: oblique;
    }
</style>
@code {
    QuestionModel questionModel = new QuestionModel();
    private string intrebare { get; set; }

    public async Task PostQuestion()
    {
        questionModel.statement = intrebare;
        var temp = await httpClient.PostAsJsonAsync<QuestionModel>("api/Questions", questionModel);
        var response = await temp.Content.ReadAsStringAsync();
    }

    public class QuestionModel
    {
        public string statement { get; set; }
    }


}
